<app-header-foundation [currentUser]="currentUser" [title]="building.address"></app-header-foundation>
<div class="main-screen">
    <div class="top-panel">
        <mat-card class="activities-panel" [routerLink]="['/', 'buildings', buildingId, 'activities']">
            <mat-card-title>Дейности</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <h3 id="finished">{{getNumberOfActivitiesByType(ActivityType.FINISHED)}} Завършени</h3>
                <h3 id="active">{{getNumberOfActivitiesByType(ActivityType.ACTIVE)}} Активни</h3>
                <h3 id="aborted">{{getNumberOfActivitiesByType(ActivityType.ABORTED)}} Прекратени</h3>
            </mat-card-content>
        </mat-card>

        <mat-card class="notifications-panel" [routerLink]="['/', 'buildings', buildingId, 'notifications']">
            <mat-card-title>Обявления</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <h3 id="active-notification">{{getNumberOfNotificationsByType(NotificationType.ACTIVE)}} Активни</h3>
                <h3 id="expired">{{getNumberOfNotificationsByType(NotificationType.EXPIRED)}} Изтекли</h3>
                <h3 id="archived">{{getNumberOfNotificationsByType(NotificationType.ARCHIVED)}} Архивирани</h3>
            </mat-card-content>
        </mat-card>

        <mat-card class="cashier-panel"  [routerLink]="['/','buildings', buildingId, 'cashier']">
            <mat-card-title>Каса</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <h4>Касиер: {{building?.safe?.cashierName}}</h4>
                <h4>Месечни такси: {{ monthlyTax}} лв.</h4>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- <div class="additional-info-panel">
        <mat-card>
            <mat-card-content>
                <h3>Договорът е активен до {{getContractExpiryDate()}}</h3>
                <h3>Сградата разполага с {{building.numberOfApartments}} жилища</h3>
                <div class="contacts-info" *ngIf="building\.contact != null">
                    <h3>Контакти:</h3>
                    <h4>{{building\.contact!.name}}: {{building\.contact!.phone}}</h4>
                </div>
            </mat-card-content>
        </mat-card>
    </div> -->
</div>
