<app-header-foundation [currentUser]="currentUser" [title]="activity.name"></app-header-foundation>
<div class="activity-wrapper">
  <mat-card *ngIf="activity">
    <mat-card-header>
      <mat-card-title>{{ activity.name }}</mat-card-title>
      <mat-card-subtitle>Отговорник: {{ activity.responsible }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Статус: {{ getActivityStatusName(activity.status) }}</p>
      <p>Тип: {{ getActivityTypeName(activity.type) }}</p>
      <p>Начална дата: {{ activity.startDate | date }}</p>

      <!-- Stepper за стъпките -->
      <mat-horizontal-stepper linear [selectedIndex]="currentStepIndex" (selectionChange)="onStepChange($event)">
        <mat-step *ngFor="let step of activity.steps; let i = index" [label]="getStepName(step.stepNumber)">
          <ng-template matStepLabel>{{ getStepName(step.stepNumber) }}</ng-template>

          <div class="step-content" *ngIf="step.stepNumber === stepNames.POLL">
            <h3>{{ getStepName(stepNames.POLL) }}</h3>
            <p>Описание на дейността</p>
            <mat-radio-group>
              <mat-radio-button value="agree">Съгласен</mat-radio-button>
              <mat-radio-button value="disagree">Несъгласен</mat-radio-button>
            </mat-radio-group>
            <button mat-raised-button color="primary" (click)="onVote()">Гласувай</button>
          </div>

          <div class="step-content" *ngIf="step.stepNumber === stepNames.OFFER_COLLECTION">
            <h3>{{ getStepName(stepNames.OFFER_COLLECTION) }}</h3>
            <p>Форма за добавяне на оферта:</p>

            <form class="add-activity-form" [formGroup]="offerForm">
              <mat-form-field appearance="fill">
                <mat-label>Описание на дейност</mat-label>
                <input matInput formControlName="activityDescription" placeholder="Въведете описание на дейност">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Цена</mat-label>
                <input matInput formControlName="price" type="number" placeholder="Въведете цена">
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="onAddOffer()">Добави оферта</button>
            </form>
          </div>


          <div class="step-content" *ngIf="step.stepNumber === stepNames.OFFER_SELECTION">
            <h3>{{ getStepName(stepNames.OFFER_SELECTION) }}</h3>
            <p>Избор на оферта:</p>
            <mat-radio-group *ngFor="let offer of offers">
              <mat-radio-button value="offer1">
                <mat-card>
                  <mat-card-title>{{offer.description}}</mat-card-title>
                  <mat-card-content>
                    <p>Отговорник: {{offer.executor}}</p>
                    <p>Цена: {{offer.price}} BGN</p>
                  </mat-card-content>
                </mat-card>
              </mat-radio-button>
            </mat-radio-group>
            <button mat-raised-button color="primary" (click)="onVote()">Гласувай</button>
          </div>

          <div class="step-content payment-form" *ngIf="step.stepNumber === stepNames.FUNDRAISING">
            <h3>{{ getStepName(stepNames.FUNDRAISING) }}</h3>
            <p>Форма за плащане с дебитна карта:</p>

            <mat-form-field appearance="fill">
              <input matInput placeholder="Въведете име на карта">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <input matInput placeholder="Въведете номер на карта" type="number">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <input matInput placeholder="MM/YYYY" type="text">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <input matInput placeholder="Въведете CVC код" type="number">
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="onPay()">Потвърди плащането</button>
          </div>

        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>

    <!-- Коментарна секция -->
    <mat-card-actions>
      <textarea matInput placeholder="Добави коментар"></textarea>
      <button mat-raised-button color="accent">Изпрати</button>
    </mat-card-actions>
  </mat-card>
</div>
