<app-header-foundation [currentUser]="homeowner" [title]="'Building selection'"></app-header-foundation>
<div class="building-selection-panel">
    <mat-grid-list [cols]="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let building of homeowner?.buildings">
            <mat-card  class="building-field" [routerLink]="['/', 'buildings', building.id]">
                <img mat-card-image src="../../assets/building.png" alt="building.png" class="building-image">
                <mat-card-content>
                    <p>{{building.address}} </p>
                    <p>{{building.safe.debit}} лв.</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>