.app-header {
    display: flex;
    align-items: center;
}

.app-logo {
    height: 100px;
    margin-right: 16px;
    margin-top: 30px;
}

.app-title {
    margin-left: 35%;
    margin-top: 10%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    color: black;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-card {
    max-width: 400px;
    padding: 20px;
}

.full-width {
    width: 100%;
    margin-bottom: 20px;
}

.login-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}