<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome to Resunity HomeOwner</title>
    <base href="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>  
    <router-outlet></router-outlet>
    <mat-toolbar style="background-color: #3f51b5;">
        <mat-toolbar-row>
            <span style="color: white;">© 2024 Your Company. All rights reserved.</span>
        </mat-toolbar-row>
    </mat-toolbar>
</body>
</html>