<app-header-foundation
  [currentUser]="currentUser"
  [title]="building.address + ' - Каса'"
></app-header-foundation>
<mat-card>
    <div class="wrapper">
        <div class="panels">
          <div class="left-panel">
            <mat-accordion multi>
              <!-- Use multi attribute to allow multiple panels to be expanded -->
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title><strong>Информация</strong></mat-panel-title>
                </mat-expansion-panel-header>
                <div class="info-row">
                  <mat-icon>person</mat-icon>
                  <span>Касиер: {{ building.safe.cashierName }}</span>
                </div>
                <div class="info-row">
                  <mat-icon>book</mat-icon>
                  <span>Месечни такси: {{ monthlyTax }} лв.</span>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title><strong>Отчети</strong></mat-panel-title>
                </mat-expansion-panel-header>
                Предстояща функционалност
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="center-panel">
            <mat-accordion multi>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title><strong>Наличност</strong></mat-panel-title>
                </mat-expansion-panel-header>
                <div class="content-wrapper">
                  <div id="debit" class="debit-content">
                    <img
                      src="./assets/bank.png"
                      alt="bank.png"
                      width="60"
                      height="60"
                    />
                    
                  </div>
                  <div class="centered-title"
                    >
                    {{ building.safe.debit }} лв.
                    <div>IBAN: {{ building.safe.iban }}</div>
                    </div
                  >
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title><strong>Длъжници</strong></mat-panel-title>
                </mat-expansion-panel-header>
                Предстояща функционалност
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="right-panel">
            <mat-accordion multi>
              <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                  <mat-panel-title><strong>Трансакции</strong></mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list (click)="openTransactions(building.safe.transactions)">
                  <mat-list-item
                    *ngFor="let transaction of building.safe.transactions"
                  >
                    <div
                      class="transaction-row"
                      [ngClass]="{
                        positive: transaction.amount > 0,
                        negative: transaction.amount < 0
                      }"
                    >
                      <mat-icon>{{
                        transaction.amount > 0 ? "arrow_upward" : "arrow_downward"
                      }}</mat-icon>
                      <span>{{ transaction.receiverIban }}</span>
                      <span>{{ transaction.amount }} лв.</span>
                    </div>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
      
</mat-card>